#!/usr/bin/env bash
set -euo pipefail
IFS=$'\n\t'

# CHANGELOG: {{ include (joinPath .chezmoi.homeDir  ".fzf/CHANGELOG.md") | sha256sum }}
echo "Building fzf v{{ template "fzfVersion" }}"
(cd ~/.fzf &&
	./install --all --no-update-rc)
