#!/bin/bash

alias l="ls"
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -la"
alias cdroot='cd $(git rev-parse --show-toplevel)'
alias ...="cdup"

if [ "$EDITOR" = "nvim" ]; then
	alias vi=nvim
	alias vim=nvim
	alias vimdiff='nvim -d'
fi

alias g=git
alias lg=lazygit

if [ -x "$HOME/.claude/local/claude" ]; then
	alias claude="~/.claude/local/claude"
fi
