#!/bin/bash

if command -v exa &>/dev/null; then
	alias l=exa
else
	alias l=ls
fi

alias ll="l -l"
alias la="l -a"
alias lla="l -la"

unset LS

if [ "$EDITOR" = "nvim" ]; then
	alias vi=nvim
	alias vim=nvim
fi
