#!/bin/bash

if command -v eza &>/dev/null; then
	alias ls=eza
	alias tree='eza --tree'
fi

alias l="ls"
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -la"
alias cdroot='cd $(git rev-parse --show-toplevel)'

if [ "$EDITOR" = "nvim" ]; then
	alias vi=nvim
	alias vim=nvim
	alias vimdiff='nvim -d'
fi

alias g=git
