# vim:set noet ft=gitconfig:

[user]
	name = Abhinav Gupta
	email = mail@abhinavg.net
[branch]
	autosetuprebase = always
[fetch]
	prune = true
[color]
	ui = auto
[core]
	editor = nvim
[alias]
	cam = commit --amend
	s = status
	co = checkout
	c = commit
[log]
	abbrevCommit = true
	date = relative
	decorate = true
[push]
	default = simple
[rerere]
	autoupdate = true
	enabled = true
[diff]
	algorithm = patience
	renames = copies
[column]
	ui = auto
[apply]
	whitespace = fix
[rebase]
	stat = true
[include]
	path = ~/.gitconfig.d/go
	path = ~/.gitconfig.d/local
