# Ignore everything by default and whitelist things explicitly.
/*

!/.gitignore
!/README.md
!/tools

# XDG home
!/.config

# Always ignore
.DS_Store
.*.sw?

# Useful scripts/tools are placed in ~/bin
!/bin

# shell
!.aliases
!.bashrc
!.bash_profile
!.profile
!.profile.d/
!.zprofile
!.zsh/
!.zshenv
!.zshrc
!/.p10k.zsh
/.zsh/rc.d/local

# tig
!.tigrc

# tmux
!.tmux*.conf
!/.tmux/

# [n]vim
!.vimrc

# Rust
!/.cargo
/.cargo/*
!/.cargo/config.toml

# restack
!/.restack

# Extras
!/etc
!/sys
