# vim:set noet ft=gitconfig:

[user]
	name = Abhinav Gupta
	email = mail@abhinavg.net
[init]
	defaultBranch = main
[branch]
	autosetuprebase = always
[fetch]
	prune = true
[color]
	ui = auto
[commit]
	verbose = true
[core]
	editor = nvim
[alias]
	cam = commit --amend
	s = status
	co = checkout
	c = commit
[http]
	cookiefile = /Users/abg/.gitcookies
[log]
	abbrevCommit = true
	date = iso-local
	decorate = true
[push]
	default = simple
[rerere]
	autoupdate = true
	enabled = true
[diff]
	algorithm = patience
	renames = copies
[column]
	ui = auto
[apply]
	whitespace = fix
[rebase]
	stat = true
	instructionFormat = %s%d
	autoSquash = true
[sequence]
	editor = ~/.restack/edit.sh
[pager]
	branch = false
	tag = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = ~/.config/netlify/helper/git-config
	path = ~/.gitconfig.d/delta
	path = ~/.gitconfig.d/go
	path = ~/.gitconfig.d/stg
	path = ~/.gitconfig.d/local
	path = ~/.gitconfig.d/mergetool
