# Ignore everything by default and whitelist things explicitly.
/*

# Keep README.
!/README.md

!.gitignore
!.gitmodules

# XDG home
!/.config

# Always ignore
.DS_Store
.*.sw?

# Useful scripts/tools are placed in ~/bin
!/bin

# shell
!.aliases
!.bashrc
!.bash_profile
!.profile
!.profile.d/
!.zprofile
!.zsh/
!.zshenv
!.zshrc
/.zsh/rc.d/local

# git
!.gitconfig
!/.gitconfig.d/
/.gitconfig.d/local

# GHC
!.ghci

# spacemacs
!/.spacemacs.d/

# stack
!/.stack

# tig
!.tigrc

# tmux
!.tmux*.conf
!/.tmux/

# [n]vim
!.vimrc
!/.config/nvim

# restack
!/.restack

# ripgrep
!/.ripgreprc

# TaskWarrior
!/.taskrc
!/.taskrc.d/
!/.task/
/.task/*
!/.task/hooks

# Don't opt out system-specific configurations.
!/stow
